*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(circle at top, #222831, #0f1114);
    color: white;
}
.game{
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.game-block{
    background-color: lightgrey;
    border-radius: 5px;
}
.block1{
    background-color: gray;
}
.block2{
    background-color: gray;
}
.block3{
    background-color: gray;
}
.block4{    
    background-color: gray;
}
.block5{
    background-color: gray;
}
.block6{
    background-color: gray;
}
.redblock1{
    grid-area: 3 / 2 / 3 / 2;
    background-color: lightcoral;
}
.redblock2{
    grid-area: 3 / 5 / 3 / 5;
    background-color: lightcoral;
}
.selecionado{
    border: 3px solid black;
}
button{
    padding: 8px;
    border-radius: 8px;
}
.menu-game{
    text-align: center;
}
#btnNextLvl{
    display: none;
    position: absolute;
    top: 90%;
    left: 45.5%;
}
.menu-game > button{
    margin: 8px;
}
.menu-game > p{
    margin: 4px;
}